config alfis 'main'
	option origin '0000001D2A77D63477172678502E51DE7F346061FF7EB188A2445ECA3FC0780E'
	option check_blocks '8'
	option dark_theme '1'

config net 'net'
	option listen '[::]:4244'
	option public '1'
	option yggdrasil_only '0'

	list peer 'peer-v4.alfis.name:4244'
	list peer 'peer-v6.alfis.name:4244'
	list peer 'peer-ygg.alfis.name:4244'

config dns 'dns'
	option listen '127.0.0.3:53'
	option threads '10'
	option cache_memory_limit_mb '100'
	option enable_0x20 '1'

	list forwarder 'https://dns.adguard.com/dns-query'

	list bootstrap '9.9.9.9:53'
	list bootstrap '94.140.14.14:53'

config mining 'mining'
	option threads '0'
	option lower '1'
